@model List<News>

<div class="container">
    <div class="row-pt4">
        <div class="col-6">
            <h2 class="text-primary">
                Categories
            </h2>
        </div>
        <a asp-controller="News" asp-action="Create" class="btn btn-primary">
            Add new Post
        </a>
    </div>
</div>


<h1>Category</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Topic
        </th>
        <th>
            Content
        </th>
        <th>
            Date
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var obj in Model.OrderBy(u=> u.Id))
    {
        <tr>
            <td>@obj.Title</td>
            <td>@obj.Context</td>
            <td>@obj.CreationTime</td>
            
            <td>
                                <div class="w-75 btn-group" role="group">
                                    <form asp-controller="News" asp-action="Edit" method="post">
                                        <input type="hidden" name="id" value="@obj.Id" />
                                        <button type="submit" class="btn btn-primary mx-2">
                                            <i class="bi bi-plus"></i> Edit
                                        </button>
                                    </form>
                                    
                                    <form asp-controller="News" asp-action="Delete" method="post">
                                        <input type="hidden" name="id" value="@obj.Id" />
                                        <button type="submit" class="btn btn-danger mx-2">
                                            <i class="bi bi-trash"></i> Remove
                                        </button>
                                    </form>
                                </div>
                            </td>
        </tr>
    }
    </tbody>
</table>