@model List<CartItem>
<div class="m-auto align-items-center">
    <div class="col-lg-5 order-md-last mx-auto">
        <h4 class="d-flex justify-content-between mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill">@Model.Count</span>
        </h4>
        <ul class="list-group mb-3 mx-auto">
            @{ float totalPrice = 0;}
            @foreach (var obj in Model.OrderBy(obj => obj.Product.Name))
            {
                <ul class="list-group rounded-1">
                    <div class="row mb-2 rounded-2 border p-1">
                    <div class="col-sm">
                        <h6 class="my-0">@obj.Product.Name</h6>
                        <small class="text-body-secondary">@obj.Product.Category</small>
                    </div>
                    <div class="col-sm">
                        <span class="text-body-secondary align-text-end">
                            @{var rowTotalPrice = obj.Product.Price * obj.Quantity;
                                totalPrice += (float)rowTotalPrice;}
                            ₺@rowTotalPrice
                        </span>
                    </div>
                    <div class="btn-group col-sm" role="group" aria-label="Basic example">
                        <form asp-controller="Cart" asp-action="Increment" method="post">
                            <input type="hidden" name="id" value="@obj.Id"/>
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-plus"></i>
                            </button>
                        </form>
                        <button style="width: 50px" disabled type="submit" class="btn btn-secondary p-md-1">
                            @obj.Quantity
                        </button>
                        <form asp-controller="Cart" asp-action="Decrement" method="post">
                            <input type="hidden" name="id" value="@obj.Id"/>
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-dash"></i>
                            </button>
                        </form>
                        <form asp-controller="Cart" asp-action="Remove" method="post">
                            <input type="hidden" name="id" value="@obj.Id"/>
                            <button type="submit" class="btn btn-danger mx-3">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </div>
                    </div>
                </ul>
        
            }
        </ul>
        <li class="list-group-item d-flex justify-content-between">
            <span>Total (TRY)</span>
            <strong>₺@totalPrice</strong>
        </li>
        @if(Model.Count!=0){
            <a asp-action="Purchase">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
            </a>}
        else
        {
            <a asp-controller="Product" asp-action="Index">
                <button class="w-100 btn btn-success btn-lg" type="submit">Go back to shopping</button>
            </a>
        }
    </div>
</div>