@model Product

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h1>
    @Model.Id
</h1>
<h1>
    @Model.Category
</h1><h1>
    @Model.Name
</h1><h1>
    @Model.Price
</h1><h1>
    @Model.ImagePath
</h1>