@using TrinketFactoryWeb.Utility
@model List<Product>

@if (User.IsInRole("Admin"))
{
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
        Add new Product
    </a>
}

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                        
                        @if (!string.IsNullOrEmpty(product.ImagePath))
                        {
                            <a asp-action="Details" asp-route-productId="@product.Id" class="form-control">
                                <img src="@product.ImagePath" class="card-img-top"/>
                            </a>
                        }
                        else
                        {
                            <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            </a>
                        }

                        <h1 hidden>https://github.com/bhrugen/Bulky_MVC/blob/master/BulkyWeb/Areas/Customer/Views/Home/Index.cshtml</h1>
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                                <p class="card-title text-warning text-center"><b>@product.Category.Name</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price: 
                                    <span>
                                        @product.Price.ToString("c")
                                    </span>
                                </p>
                            </div>
                        </div>
                        @if(User.IsInRole(Sd.RoleAdmin)){
                        <div class="btn-group p-2" role="group" aria-label="Basic example">
                            <a asp-action="Edit" asp-route-productId="@product.Id" class="btn btn-warning bg-gradient border-0 form-control">
                                Edit
                            </a>
                            <a asp-action="Delete" asp-route-productId="@product.Id" class="btn btn-danger bg-gradient border-0 form-control">
                                Delete
                            </a>
                        </div>}
                        <div class="btn-group p-2">
                            <a asp-controller="Cart" asp-action="Add" asp-route-productId="@product.Id" class="btn p-2 btn-success bg-gradient border-0 form-control">
                                Add to cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>